@import "styles/include";
.mute {
  color: #777;
}
.dropzone {
  background: #fafafa;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ddd;
  border-radius: 4px;
  flex-direction: column;
  padding: 20px;
  transition: border 0.24s ease-in-out;
  p {
    text-align: center;
  }
}
.photo {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.error-message {
  color: #EF476F;
  font-weight: 500;
}