@import "styles/include";

.email-details {
  padding: 16px;
  background-color: $orange-25;
  margin-right: 32px;
  border-radius: 8px;
  margin-bottom: 16px;
  @include mobile {
    margin-right: 0;
  }
  .title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: $grey-text;
  }
  .instructions {
    list-style: disc;
    list-style-position: outside;
    padding: 0 16px;
    li {
      @include font-roboto;
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: $grey-text;
      a {
        color: #2e55b9;
      }
    }
  }
}
