.contact-details {
  .form-row {
    align-items: flex-start;
  }
  .form-description {
    font-size: 18px;
    margin-top: 0;
  }
  .form-p {
    font-weight: 430;
    font-size: 18px;
    margin-top: 20px;
  }
}
